:root {
    --main-red: #ff3231;
    --main-yellow: #ff904d;
    --main-darkBlue: #353048;
    --main-green: #23b100;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}